
@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Content/Pages/Registration.js"></script>




<input type="hidden" value="@ViewBag.Registration_ID" id="hdnRegistration_ID" />

<div class="container">
    <div class="col-sm-12" >
        <div class="row">
            <div class="col-sm-6"  id="tblRegistration" >


            </div>
        </div>

    </div>
</div>
